<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Codilar_Grid::manager" title="Codialr Vinod" module="Codilar_Grid"  sortOrder="10" resource="Codilar_Grid::manager" action="codilar/index/index"/>
    </menu>
</config>